body {
  /*   background: rgb(173, 173, 173); */
  background: #50504f;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.cpu-section,
.memory-section,
.process-section {
  flex: 1;
  width: 100%;
  text-align: -webkit-center;
  h3 {
    text-align: -webkit-left;
    margin-top: 1rem;
  }
}

#cpu-container,
#memory-container {
  width: 150px;
  .progressbar-text {
    bottom: 1rem !important;
  }
}

.process-section {
  flex: auto;

  table {
    width: 100%;
    text-align: left;
  }
}

.details {
  margin-top: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
