body {
  /*   background: rgb(173, 173, 173); */
  background: #dad1c5;
  font-family: "Montserrat", sans-serif;
}
h3 {
  width: auto;
  margin: auto;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

section {
  margin: 3rem;
  padding: 2rem;
  border-style: groove;
}

.cpu-section,
.memory-section,
.gpu-section,
.process-section {
  flex: 1;
  text-align: center;
}
.process-section {
  flex: auto;

  table {
    width: 100%;
    text-align: left;
  }
}

#cpu-container,
#memory-container {
  height: 70%;
  width: 70%;
  margin: auto;
}

.details {
  margin-top: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
