* {
  margin: 0;
  padding: 0;
}

body {
  /*   background: rgb(173, 173, 173); */
  background: #50504f;
  font-family: "Montserrat", sans-serif;
  color: white;
  overflow: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Sections */
#cpu-section,
#memory-section,
#process-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  text-align: -webkit-center;
}

#cpu-section h3,
#memory-section h3,
#process-section h3 {
  text-align: -webkit-left;
  margin-top: 1rem;
  margin-left: 1rem;
}

/* CPU and RAM progress bar */
#cpu-container,
#memory-container {
  width: 150px;
}

#cpu-container .progressbar-text,
#memory-container .progressbar-text {
  bottom: 1rem !important;
}

/* Process list section */
#process-section {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  overflow: hidden;
}

#process-section table {
  margin-left: 1rem;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

#process-section table,
#process-section td,
#process-section th {
  padding: 0.2rem;
}

/* Button selection section */
.selection-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  bottom: 0;
  position: absolute;
}

.selection-section button {
  padding: 1rem;
  width: 50vw;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  background: #eadfdf;
  border: 1px solid #7e8e7f;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.selection-section button:hover {
  cursor: pointer;
  background-color: #75bed6;
  color: #373e44;
}

/* Settings section */
#settings-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#settings-section h2 {
  margin: 1rem;
}

#settings-section div {
  margin: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#settings-section input {
  width: 90%;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1.3rem;
}

#settings-section button {
  width: 30vw;
  height: 5vh;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  border: none;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

#settings-section button:hover {
  background-color: #4caf50;
  color: white;
}

/* Hide display */
.hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */